{
 :paths ["src"]
 :tasks
 {
  :requires
  [[build.build :as build]
   [build.recurse-keys :as recurse]
   [babashka.fs :as bfs]]

  make-macos
  {:doc "Equivalent of make for macos"
   :task
   (let
       [vars {:JAVA_HOME (build/java-home)
              :INCLUDES ["-I":JAVA_HOME"/include -I":JAVA_HOME"/include/darwin"]
              :LIBS ["-ljvm -L ":JAVA_HOME"/lib -L ":JAVA_HOME"/lib/server"]

              :compile ["gcc -g -Wall -fPIC ":INCLUDES" -c src/entry.c -o entry.o"]
              :link ["gcc -g -fPIC ":INCLUDES" ":LIBS" -shared -o entry.so entry.o -rdynamic"]
              }
        {:keys [compile link]} (-> vars
                                   (recurse/recurse-keys)
                                   #_ (doto clojure.pprint/pprint))
        opts {:pre-start-fn build/echo}
        ]
     (shell opts compile)
     (shell opts link)
     (bfs/delete "entry.o")
     (bfs/copy "entry.so" "src/dummy_godot_project/" {:replace-existing true})
     
     ;; TODO For MacOS specifically https://stackoverflow.com/a/14657625/93074

     )}


  run-godot
  {:doc "just run godot"
   :task (do
          (println (str "LD_LIBRARY_PATH " (build/ld-library-path)))
          (shell {:extra-env
                  {"LD_LIBRARY_PATH" (build/ld-library-path)}
                  }
                 "godot src/dummy_godot_project/project.godot")
          #_
          (bb-utils/get-env! "godot-clojure.dev.nrepl" "entry-fn"
                             ))}

  ;; If you use HTTPS, see  https://stackoverflow.com/a/62615597/93074
  godot-headers
  {:task (shell "git submodule update --init --recursive")}
 }
 }
